# Ignore everything in the root...
*

#except this file.../*
!.gitignore

# ...and the themes directories:
!wp-content/
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/*/*
!wp-content/themes/*/*/*
!wp-content/themes/*/*/*/*
!wp-content/themes/*/*/*/*/*

!styles/
!styles/*
styles/.sass-cache/*
styles/css/style-guide.css.map
!styles/*/*
!styles/*/*/*
!styles/*/*/*/*
!styles/*/*/*/*/*

.DS_Store