# Ignore everything in the root...
*

#except this file.../*
!.gitignore

# ...and the themes directories:
!wp-content/
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/*/*
!wp-content/themes/*/*/*
!wp-content/themes/*/*/*/*
!wp-content/themes/*/*/*/*/*

.DS_Store