# Ignore everything in the root except the "wp-content" directory besides this file.../*

!.gitignore
# Ignore everything in the root...
*

#except this file.../*
!.gitignore

# ...and the themes directories:
!wp-content/
!wp-content/themes/
!wp-content/themes/*
!wp-content/themes/*/*
!wp-content/themes/*/*/*
!wp-content/themes/*/*/*/*
!wp-content/themes/*/*/*/*/*

!styles/
!styles/*
!styles/*/*
!styles/*/*/*
!styles/*/*/*/*
!styles/*/*/*/*/*
