@import '../partials/layout'; // responsive grid and media queries

// color palette 
$color-1: #0fb9ec; 
$color-2: #ffd21b;
$color-3: #444343;
$color-4: #8d8f8b;
$color-5: #8bcbcd;
$color-6: #F8F6EC;
$color-7: #f15c38;


// additional colors
$success: #6fce72; // green
$alert: $color-7;  // red

// fonts

$heading-font: 'Montserrat', sans-serif;
$fun-font: 'Grand Hotel', cursive;
$body-font: 'Montserrat', sans-serif;

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background: lighten($color-6, 7%);
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	background: lighten($color-6, 7%);
	padding: 20px 20px 20px 0;
	&.dark {
		background: darken($color-3, 5%);
		padding-left: 20px;
	}
}

.dotted-border {
	 border-image: url('../assets/branding/patterns/dots.svg') 24% round;
  border-width: 0 0 5px 0; // border-bottom only  
}

/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background: darken($color-3, 5%);
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $color-2;

	li a {
		color: $color-5;
		border-color: lighten($color-2, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($color-2, 40%);

			.no-touch &:hover {
				color: $color-2;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $color-5;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $color-5;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($color-5, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($color-5, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($color-2, 10%);

	.no-touch &:hover {
		background-color: lighten($color-2, 15%);
	}

	span {
		/* tooltip */
		background: $color-1;
		color: $color-5;

		&::before {
			/* right arrow color */
			border-color: $color-1;
		}
	}
}

/* -------------------------------- 

xTypography 

-------------------------------- */

h1 {
	font-family: $fun-font;
	color: darken($color-1, 6%);
	margin: .5em 0 .3em 0;
	font-size: 4.8rem;

	@include MQ(S) {
		font-size: 5.2rem;
	}

	@include MQ(M) {
		font-size: 6.8rem;
	}
}
main > h1 {
	text-align: center;
}

h2, h3, .cd-main-nav li {
	font-family: $heading-font;
	text-transform: uppercase;
  letter-spacing: 0.06em;
}

h2 {
	color: darken($color-2, 8%);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;

	@include MQ(S) {
		font-size: 2.8rem;
	}

	@include MQ(M) {
		font-size: 3rem;
	}
}

section > h2 {
	color: darken($color-3, 5%);
}

h3 {
	color: darken($color-1, 6%);
	font-size: 2rem;
	margin: 1.25rem 0;
	font-weight: 700;

	@include MQ(S) {
		font-size: 1.8rem;
	}

	@include MQ(M) {
		font-size: 2rem;
	}

}

p, li {
  font-size: 1.6rem;
  line-height: 1.7em;
  letter-spacing: 0.006em;
	color: darken($color-3, 5%);
	margin-bottom: 1em;

	a {
		color: $color-1;
		text-decoration: underline;
	}

	@include MQ(S) {
		font-size: 1.6rem;
		line-height: 1.6;
	}
}

strong {
	font-weight: 700;
}

/* -------------------------------- 

xButtons 

-------------------------------- */

.btn {
	border: none;
	box-shadow: none;
	border-radius: .25em;
	font: {
		size: 1.4rem;
		family: $heading-font;
	}
	color: lighten($color-6, 5%);
	padding: .6em 2.2em;
	cursor: pointer;
	background: $color-1;

	&:focus {
		outline: none;
	}

	.no-touch &:hover {
		background: lighten($color-1, 5%);
	}

	&.btn-success {
		background: $success;

		.no-touch &:hover {
			background: lighten($success, 5%);
		}
	}

	&.btn-alert {
		background: $alert;

		.no-touch &:hover {
			background: lighten($alert, 5%);
		}
	}

	&.btn-outline {
		color: $color-1;
		background: transparent;
		box-shadow: inset 0 0 0 1px $color-1;

		.no-touch &:hover {
			color: lighten($color-6, 5%);
			background: $color-1;
		}
	}

	@include MQ(S) {
		font-size: 1.6rem;
	}
}

.cd-buttons .cd-box:nth-of-type(2) span {
	/* CSS class name color */ 
	color: $color-1;
}

/* -------------------------------- 

xIcons 

-------------------------------- */

.cd-icons li {
	/* icons size */
	width: 32px;
	height: 32px;
}

/* -------------------------------- 

xForm 

-------------------------------- */

input[type=text], select {
	border: 1px solid $color-4;
	border-radius: .25em;
	background: $color-5;

	&:focus {
		outline: none;
	}
}

input[type=text] {
	padding: .6em 1em;
	box-shadow: inset 1px 1px rgba(#000, .03);

	&.success {
		border-color: $success;
		box-shadow: 0 0 6px rgba($success, .2);
	}

	&.alert {
		border-color: $alert;
		box-shadow: 0 0 6px rgba($alert, .2);
	}

	&:focus {
		border-color: $color-1;
		box-shadow: 0 0 6px rgba($color-1, .2);
	}
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	opacity: 0;
}

.radio-label,
.checkbox-label {
	padding-left: 24px;

	&::before,
	&::after {
		/* custom radio and check boxes */
		content: '';
		display: block;
		width: 16px;
		height: 16px;
		position: absolute;
		top: 50%;
	}

	&::before {
		left: 0;
		border: 1px solid $color-4;
		box-shadow: inset 1px 1px rgba(#000, .03);
	}

	&::after {
		left: 3px;
		background: url('../assets/form/icon-check.svg') no-repeat center center;
		display: none;
	}
}

.radio-label::before {
	border-radius: 50%;
}

.checkbox-label::before {
	border-radius: 3px;
}

input[type=radio]:checked + label::before,
input[type=checkbox]:checked + label::before {
	background-color: $color-2;
	border: none;
	box-shadow: none;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	display: block;
}

.cd-select::after {
	/* switcher arrow for select element */
	content: '';
	position: absolute;
	z-index: 1;
	right: 14px;
	top: 50%;
	display: block;
	width: 16px;
	height: 16px;
	background: url('../assets/form/icon-select.svg') no-repeat center center;
	pointer-events: none;
}

select {
	position: relative;
	padding: .6em 2em .6em 1em;
	cursor: pointer;
}

@import '../partials/basic-style';